.card{
    width: 18rem;
    margin: 2rem;
}

@media(max-width: 920px){
    html{
        font-size: 60%;
    }
    .card{
        margin: 0.5rem;
    }
}
@media(max-width: 360px){
    html{
        font-size: 55%;
    }
    .card{
        margin: 0.5rem;
    }
}
@media(max-width: 280px){
    html{
        font-size: 45%;
    }
    .card{
        margin: 0.5rem;
    }
}